h2{
    text-align: center;
}
/* h4{
    color: blue;
} */


.topBookCol{
    padding: 10px;
    text-align: center;

}

.bookRow{
    margin: 20px 0px 20px 0px;
}

.bookContainer{
    background-color: lightcyan;
}
